//for hpe theme, use the following import instead
//@import '~grommet/scss/hpe/index';

@import '~grommet/scss/vanilla/index';

tr.bold {
  font-weight: bold;
}
td {
  line-height: 12px;
}

.summary-tile {
  border: 1px solid #CCC;
}


.print {
  display: none;
}

@media print {
  .no-print {
    display: none;
  }
  .print {
    display: inherit;
  }
}
