//for hpe theme, use the following import instead
//@import '~grommet/scss/hpe/index';

@import '~grommet/scss/vanilla/index';

tr.bold {
  font-weight: bold;
}
.table td {
  line-height: 12px;
}

.summary-tile {
  border: 1px solid #CCC;
}

.print {
  display: none;
}

@media print {
  .no-print {
    visibility: hidden;
    display: none;
  }
  .print {
    display: inherit;
  }
  h3 {
    font-size: 16px;
    line-height: 16px;
  }
  .table td {
    line-height: 12px;
    font-size: 12px;
    padding: 5px 12px;
  }
  #skip-link-layer {
    visibility: hidden;
    display: none;
  }
}
